.forms{
	display: table;
	margin-left: auto;
	margin-right: auto;
	width: 750px}
	
.hidden{
	visibility:hidden;}	

.gridCenter{
	display: table;
	margin-left: auto;
	margin-right: auto;}

.fieldsetMenu{
	float:left;
	padding:15px;}

.break15px{
	margin:15px;}

.divOptions{
	clear:left;
	padding-top: 15px;}

input.formText{
	width: 200px;
	display: block;
	margin-top: 6px;
	margin-bottom:6px;
	padding: 3px;
}

label.error {
	color: black;
	font-size:12px;
	font-style: italic;
	background-color: #FEE;
	padding: 2px;
	border: 1px solid #FE2E2E;}

input.error {
	background-color: #ffEEEE;
	border: 1px dotted red;
	border-image: initial;}

.errorBlock{
	color: #000;
	background-color: #ffEEEE;
	border: 3px solid #ff0000;
	padding:8px;
	margin:16px;}

.tableBlue th{
	color: #4f6b72;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background:#CAE8EA;}

.tableBlue td {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #4f6b72;}

.tableBlue td.alt{
	background: #F5FAFA;
	color: #797268;}

